// Theme Color
$black-dark: rgb(0, 0, 0);
$black: rgb(33, 36, 41);
$white: rgb(255, 255, 255);
$gray: rgb(112, 112, 112);

$pink: rgb(255, 174, 219);
$purple: rgb(166, 191, 252);
$blue: rgb(142, 234, 237);
$green: rgb(148, 239, 201);
$yellow: rgb(251, 227, 115);
$orange: rgb(255, 203, 135);
